.cards {
  padding: 4rem;
  background: #fff;
}

.campaignCard {
  background-color: #354347;
  margin: 1rem 1rem;
  width: 330px;
  border-radius: 10px;
}

.homeCard {
  background-color: #354347;
  margin: 1rem 1rem;
  border-radius: 10px;
}

.homeCard2 {
  width: 100%;
  background-color: #354347;
  margin: 1rem 1rem;
  border-radius: 10px;
}

.homeCard2 > .cards__item{
  width: 100%;
  max-width: 600px;
}

.homeCard > .cards__item{
  width: 100%;
  max-width: 600px;
}


.overlay {
  background-color: rgba(0,0,0,0.6);
  height: 27vh;
  margin-top: -20px;
  justify-content: center;
}

h1, .campaignTitle {
  text-align: center;
  padding-top: 20px;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__items_campaign{
  display: grid;  
  margin-bottom: 24px;
  margin-top:-75px;
  grid-template-columns: repeat(3, 1fr);
}

.homeCards_campaign{
  display: grid;  
  margin-bottom: 24px;
  grid-template-columns: repeat(2, 1fr);

}

.cards__item {
  display: flex;
  flex: 1;
  width: 330px;
  margin: 0rem 0rem 0rem 0rem;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 15px 23px 5px 23px;
}

.cards__item__title {
  color: #252e48;
  font-size: 18px;
}

.cards__item__text {
  text-decoration: none !important;
  text-align: justify;
  color: #252e48;
  font-size: 16px;
  line-height: 24px;
  height: 8vh;
}

.cards_item_author, .cards_item_dateTime {
    text-decoration: none;
    color: #354347;
}

.cards_item_footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 23px 10px 23px;
}


.signContainer{
  float: right;
  margin: 0 1rem;
  padding: 0.7rem 0rem;
  border-radius: 0 0 10px 10px;
  
}

.btnSign {
  cursor: pointer;
  margin-right: 10px;  
  font-size: 20px;
  color: #edde44;
  background: none;
  border: none;
}

.btnSigned {
    cursor: pointer;
    margin-right: 10px;  
    font-size: 20px;
    color: rgb(119, 119, 119, 0.8);
    background: none;
    border: none; 
}

.btnSigned-visitors {
  margin-right: 10px;  
  font-size: 20px;
  color: rgb(119, 119, 119, 0.8);
  background: none;
  border: none; 
}

.signNo {
    color: #fff !important;
}

.paginateContainer {
  display: flex;
  cursor: pointer;
  margin:0 auto;
  width: 80%;
  list-style: none;
  justify-content: center;
}

.paginateContainer a {
  width: 20px;
  height: 20px;
  margin: 7px;
  border: solid 1px #354347;
  border-radius: 50%;
  color:#354347;
}

.paginateContainer a:hover {
  background-color: #354347;
  color: #fff;
}

.paginateLink {
  padding: 7px 13px !important;
  
}

.paginatePrev {
  padding: 8px 10px;
}

.paginateNext {
  padding: 8px 10px;
}

.paginateDisabled a, .paginateDisabled a:hover{
  color: #a5a5a5;
  border-color: #a5a5a5;
  background-color: #fff;
}

.paginateActive a{
  background-color: #354347;
  color: #fff;
}


@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }

}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }

  
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }

  .cards__items_campaign{
    display: block;  
  }
  
  .homeCards_campaign{
    display: block;   
  }

  .signContainer{
    float: none;
    text-align: right; 
    margin-top: -30px;  
  }

  .homeCard2 {
    width: auto;
  }
}

